<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iloveu.lanchong.android.diyview">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".sample.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.activity.InfoActivity" /> <!-- 动画 -->
        <activity android:name=".anim.activity.Z1Activity" />
        <activity android:name=".anim.activity.Z2Activity" />
        <activity android:name=".anim.activity.Z3Activity" />
        <activity android:name=".anim.activity.Z4Activity" />
        <!-- 绘制 -->
        <activity android:name=".draw.activity.DrawActivity" />
        <activity android:name=".draw.activity.DiyTest1Activity" />
        <!--自定义控件课程-->
        <activity android:name=".vg.activity.FlowLayoutActivity"/>

        <activity android:name=".unspecified.activity.WindowLayoutParamsActivity" />
        <activity android:name=".unspecified.activity.DiyAttrsActivity" />


    </application>

</manifest>